.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left:20px ;
}
.bi-search{
    position: absolute;
    z-index: 10x;
    right: 44%;
    top: 25px;
    color:blue
}
.shop-name{
    margin-left: 10px;
}